Repository NikolajMakarovskij/myStockroom: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-typing, backend-linting, frontend-linting, backend-testing, frontend-testing

backend-typing:
  stage: typing
  script:
  - docker exec -t backend uv run mypy .

backend-linting:
  stage: linting
  needs:
  - backend-typing
  script:
  - docker exec -t backend uv run ruff check .

frontend-linting:
  stage: linting
  script:
  - docker exec -t frontend npm run lint

backend-testing:
  stage: testing
  needs:
  - backend-linting
  script:
  - docker exec -t backend uv run pytest -n 4 --cov --junitxml=junit.xml
  coverage: /TOTAL.*\s+(\d+%)$/
  artifacts:
    when: always
    paths:
    - backend/src/junit.xml
    reports:
      junit:
      - backend/src/junit.xml

frontend-testing:
  stage: testing
  needs:
  - frontend-linting
  script:
  - docker exec -t frontend npx playwright install
  - docker exec -t frontend npx playwright install-deps
  - docker exec -t frontend npm run test:pl-junit
  coverage: /TOTAL.*\s+(\d+%)$/
  artifacts:
    when: always
    paths:
    - frontend/junit-integration.xml
  ...

fixed errors in backend settings
  backend/src/backend/settings/deploy.py
  backend/src/backend/settings/production.py
Due: none

hotfix errors
  .gitignore.backend
  .gitignore.frontend
  docker-compose.prod.yaml
Due: none

hotfix CI
  .gitlab-ci.yml
Due: backend-typing, backend-linting, frontend-linting, backend-testing, frontend-testing

changed long polling delay
  frontend/src/components/appAccounting/Accounting/ListAccounting.jsx
  frontend/src/components/appAccounting/AccountingCategories/ListAccountingCategory.jsx
  frontend/src/components/appConsumables/Accessories/ListAccessories.jsx
  frontend/src/components/appConsumables/AccessoriesCategories/ListAccessoriesCategory.jsx
  frontend/src/components/appConsumables/Consumables/ListConsumables.jsx
  frontend/src/components/appConsumables/ConsumablesCategories/ListConsumablesCategory.jsx
  frontend/src/components/appCounterparty/appManufacturer/ListManufacturer.jsx
  frontend/src/components/appDecommission/ListDecommission.jsx
  frontend/src/components/appDecommission/ListHistoryDecommission.jsx
  frontend/src/components/appDevice/Device/ListDevice.jsx
  frontend/src/components/appDevice/DeviceCategories/ListDeviceCategory.jsx
  frontend/src/components/appDisposal/ListDisposal.jsx
  frontend/src/components/appDisposal/ListHistoryDisposal.jsx
  frontend/src/components/appEmployee/Departament/ListDepartament.jsx
  frontend/src/components/appEmployee/Employee/ListEmployee.jsx
  frontend/src/components/appEmployee/Post/ListPost.jsx
  frontend/src/components/appStock/Accessories/ListConsumptionAccessories.jsx
  frontend/src/components/appStock/Accessories/ListHistoryAccessories.jsx
  frontend/src/components/appStock/Accessories/ListStockAccessories.jsx
  frontend/src/components/appStock/Consumables/ListConsumptionConsumables.jsx
  frontend/src/components/appStock/Consumables/ListHistoryConsumables.jsx
  frontend/src/components/appStock/Consumables/ListStockConsumables.jsx
  frontend/src/components/appStock/Devices/ListHistoryDevice.jsx
  frontend/src/components/appStock/Devices/ListStockDevices.jsx
  frontend/src/components/appWorkplace/Rooms/ListRoom.jsx
  frontend/src/components/appWorkplace/Workplaces/ListWorkplace.jsx
Due: frontend-linting, frontend-testing

added env consts
  .env
  README.md
  backend/docs/starting.md
  backend/src/backend/settings/__init__.py
  backend/src/backend/settings/deploy.py
  frontend/src/components/Axios.jsx
  frontend/src/components/appAccounting/IndexAccounting.jsx
  frontend/src/components/appConsumables/IndexConsumables.jsx
  frontend/src/components/appCounterparty/IndexCounterparty.jsx
  frontend/src/components/appDevice/IndexDevice.jsx
  frontend/src/components/appEmployee/IndexEmployee.jsx
  frontend/src/components/appHome/Home.jsx
  frontend/src/components/appSoftware/IndexSoftware.jsx
  frontend/src/components/appStock/IndexStock.jsx
  frontend/src/components/appWorkplace/IndexWorkplace.jsx
Due: frontend-linting, frontend-testing

fixed env import in the frontend production container
  angie/Dockerfile
  docker-compose.prod.yaml
  frontend/src/components/Axios.jsx
Due: frontend-linting, frontend-testing

fixed error
  frontend/src/components/appStock/Accessories/DialogAccessoriesDetail.jsx
Due: frontend-linting, frontend-testing

fixed a bug related to the lack of a workplace
  frontend/src/components/appDecommission/ListDecommission.jsx
  frontend/src/components/appDisposal/ListDisposal.jsx
Due: frontend-linting, frontend-testing

upgrade node version
  angie/Dockerfile
  frontend/dockerfile
Due: none

fixed errors
  docker-compose.prod.yaml
Due: none

added timeout in detail panel
  frontend/src/components/appStock/DetailPanel.jsx
Due: frontend-linting, frontend-testing

Path conditions:
  backend-typing: any of: backend/**/*.{py}, backend/pyproject.toml, backend/dockerfile, backend/.pre-commit-config.yaml, docker-compose.yaml, .gitlab-ci.yml, .pre-commit-config.yaml
  backend-linting: any of: backend/**/*.{py}, backend/pyproject.toml, backend/dockerfile, backend/.pre-commit-config.yaml, docker-compose.yaml, .gitlab-ci.yml, .pre-commit-config.yaml
  frontend-linting: any of: .gitlab-ci.yml, frontend/src/**/*, frontend/.prettierrc, frontend/eslint.config.js, frontend/index.html, frontend/package-lock.json, frontend/package.json, frontend/vite.config.js, .pre-commit-config.yaml, docker-compose.yaml
  backend-testing: any of: backend/**/*.{py}, backend/pyproject.toml, backend/dockerfile, backend/.pre-commit-config.yaml, docker-compose.yaml, .gitlab-ci.yml, .pre-commit-config.yaml
  frontend-testing: any of: .gitlab-ci.yml, frontend/src/**/*, frontend/.prettierrc, frontend/eslint.config.js, frontend/index.html, frontend/package-lock.json, frontend/package.json, frontend/vite.config.js, .pre-commit-config.yaml, docker-compose.yaml
