Repository NikolajMakarovskij/myStockroom: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-typnig, backend-linting, backend-testing, pages

backend-typnig:
  stage: typing
  script:
  - docker exec -t backend pdm run mypy .

backend-linting:
  stage: linting
  script:
  - docker exec -t backend pdm run ruff check .

backend-testing:
  stage: testing
  script:
  - docker exec -t backend pdm run pytest --cov --junitxml=junit.xml
  coverage: /TOTAL.*\s+(\d+%)$/
  artifacts:
    when: always
    paths:
    - backend/src/junit.xml
    reports:
      junit:
      - backend/src/junit.xml

pages:
  stage: pages
  script:
  - docker exec -t backend bash -c 'cd /backend && pdm run mkdocs build'
  - docker exec -t backend bash -c 'cd /backend && cp -a site/. /public'
  artifacts:
    paths:
    - public

update node image
  frontend/dockerfile
  frontend/package.json
Due: none

added needs in CI
  .gitlab-ci.yml
Due: none

update pre-commit
  .pre-commit-config.yaml
  backend/.pre-commit-config.yaml
  backend/docker-compose.yaml
  frontend/.pre-commit-config.yaml
Due: backend-testing

updated docker-compose configuration
  docker-compose.yaml
  nginx/Dockerfile
  nginx/nginx.conf
Due: backend-testing

fix CI
  .gitlab-ci.yml
Due: none

fixed error in CI
  .gitlab-ci.yml
Due: none

fixed github CI
  .github/workflows/backend_tests.yml
Due: none

migrated from nginx to angie
  angie/Dockerfile
  angie/angie.conf
  angie/default.conf
  docker-compose.yaml
  nginx/Dockerfile
Due: backend-testing

test CI
  .gitlab-ci.yml
Due: none

fixed CI
  .gitlab-ci.yml
Due: none

migrated from nginx to angie
  angie/Dockerfile
  angie/angie.conf
  angie/default.conf
  backend/nginx/Dockerfile
  docker-compose.yaml
  nginx/Dockerfile
  nginx/nginx.conf
Due: backend-testing

chnge angie image
  angie/Dockerfile
Due: none

update dependencies
  backend/pyproject.toml
  backend/uv.lock
Due: backend-typnig, backend-linting, backend-testing

update dependencies
  backend/uv.lock
Due: backend-testing

update dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

update backend dependencies
  backend/pyproject.toml
  backend/uv.lock
Due: backend-typnig, backend-linting, backend-testing

update frontend dependencies
  frontend/package-lock.json
Due: none

update dependencies
  backend/.pre-commit-config.yaml
  backend/pyproject.toml
  backend/uv.lock
  frontend/.pre-commit-config.yaml
Due: backend-typnig, backend-linting, backend-testing

fix typing in decomission tests
  backend/src/backend/settings/deploy.py
  backend/src/backend/settings/production.py
  backend/src/decommission/tests/decom_test.py
  backend/src/decommission/tests/models_test.py
  backend/src/decommission/tests/tasks_test.py
  backend/src/decommission/tests/urls_test.py
  backend/src/decommission/tests/views_test.py
Due: none

fix typing errors in models
  backend/src/accounting/models.py
  backend/src/consumables/models.py
  backend/src/counterparty/models.py
  backend/src/decommission/models.py
  backend/src/device/models.py
  backend/src/employee/models.py
  backend/src/signature/models.py
  backend/src/software/models.py
  backend/src/stockroom/models/accessories.py
  backend/src/stockroom/models/consumables.py
  backend/src/stockroom/models/devices.py
  backend/src/stockroom/views/consumables.py
  backend/src/workplace/models.py
  backend/src/workplace/views.py
Due: none

fix type errors in stock
  backend/src/stockroom/stock/base_stock.py
  backend/src/stockroom/stock/stock.py
Due: none

fix errors
  backend/src/consumables/models.py
  backend/src/device/models.py
Due: none

fix typing errors in tasks
  backend/src/decommission/decom.py
  backend/src/decommission/tasks.py
Due: none

fix type errors in serializers
  backend/src/accounting/serializers.py
  backend/src/consumables/serializers.py
  backend/src/device/serializers.py
  backend/src/stockroom/serializers.py
  backend/src/workplace/serializers.py
Due: none

fix typing errors in accounting app
  backend/src/accounting/forms.py
  backend/src/accounting/models.py
  backend/src/accounting/views.py
  backend/src/consumables/views.py
Due: none

added ignores in views
  backend/src/counterparty/views.py
  backend/src/decommission/views.py
  backend/src/device/views.py
  backend/src/employee/views.py
  backend/src/signature/views.py
  backend/src/software/views.py
Due: none

fix typing errors
  backend/src/decommission/decom.py
  backend/src/stockroom/stock/stock.py
Due: none

added type ignors
  backend/src/stockroom/views/accessories.py
  backend/src/stockroom/views/devices.py
Due: none

fix typing errors
  backend/src/stockroom/stock/base_stock.py
Due: none

added ignores to forms
  backend/src/consumables/forms.py
  backend/src/counterparty/forms.py
  backend/src/device/forms.py
  backend/src/employee/forms.py
  backend/src/signature/forms.py
  backend/src/software/forms.py
  backend/src/stockroom/forms.py
  backend/src/workplace/forms.py
Due: none

fixed type errors in templatetags
  backend/src/stockroom/templatetags/history_tags.py
Due: none

added type errors
  backend/src/core/utils.py
  backend/src/stockroom/resources.py
Due: none

fixed errors in tests stock app
  backend/src/decommission/tests/tasks_test.py
  backend/src/stockroom/stock/base_stock.py
  backend/src/stockroom/stock/stock.py
  backend/src/stockroom/tests/test_stock/test_accessories.py
  backend/src/stockroom/tests/test_stock/test_consumables.py
  backend/src/stockroom/tests/test_stock/test_devices.py
  backend/src/stockroom/tests/test_stock/test_stock.py
Due: none

update mypy settings
  backend/pyproject.toml
Due: backend-typnig, backend-linting, backend-testing

Path conditions:
  backend-typnig: any of: backend/src/*.{py}, backend/pyproject.toml
  backend-linting: any of: backend/src/*.{py}, backend/pyproject.toml
  backend-testing: any of: backend/*, docker-compose.yaml
  pages: any of: backend/docs/*, docs/*, mkdocs.yml
