Repository NikolajMakarovskij/myStockroom: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-typnig, backend-linting, backend-testing, pages

.gitlab-ci.yml:

stages:
  - typing
  - linting
  - testing
  - pages

image: docker:24.0.5
services:
    - docker:24.0.5-dind

.standard-rules:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""

before_script:
  - apk add --no-cache docker-compose
  - docker version
  - docker-compose --version
  - cd backend
  - docker-compose up -d

backend-typnig:
  stage: typing
  rules:
    - if: $CI_COMMIT_MESSAGE
      changes:
        paths:
          - 'backend/src/*.{py}'
          - 'backend/pyproject.toml'
  script:
    - docker exec -t backend pdm run mypy .

backend-linting:
  stage: linting
  rules:
    - if: $CI_COMMIT_MESSAGE
      changes:
        paths:
          - 'backend/src/*.{py}'
          - 'backend/pyproject.toml'
  script:
    - docker exec -t backend pdm run ruff check .

backend-testing:
  stage: testing
  rules:
    - if: $CI_COMMIT_MESSAGE
      changes:
        paths:
          - 'backend/*'
          - 'docker-compose.yaml'
  script:
    - docker exec -t backend pdm run pytest --cov --junitxml=junit.xml
  coverage: '/TOTAL.*\s+(\d+%)$/'
  artifacts:
    when: always
    paths:
      - backend/src/junit.xml
    reports:
      junit: 
        - backend/src/junit.xml

pages:
  stage: pages
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
      changes:
        paths:
          - 'backend/docs/*'
          - 'docs/*'
          - 'mkdocs.yml'
  script:
    - docker exec -t backend bash -c 'cd /backend && pdm run mkdocs build'
    - docker exec -t backend bash -c 'cd /backend && cp -a site/. /public'
  artifacts:
    paths:
      - public
  only:
    - master

fix errors
  .gitlab-ci.yml
Due: none

migrate project from pdm to UV, downgrade python to 3.12
  .gitlab-ci.yml
  backend/.gitignore
  backend/.pdm-python
  backend/docker-compose.yaml
  backend/dockerfile
  backend/pdm.lock
  backend/pyproject.toml
  backend/uv.lock
Due: backend-typnig, backend-linting, backend-testing

fix github actions
  .github/workflows/backend_tests.yml
Due: none

change pdm to uv, downgrade python to 3.12
  .github/workflows/backend_tests.yml
  .gitlab-ci.yml
  backend/.gitignore
  backend/.pdm-python
  backend/docker-compose.yaml
  backend/dockerfile
  backend/pdm.lock
  backend/pyproject.toml
  backend/uv.lock
Due: backend-typnig, backend-linting, backend-testing

test commit
  backend/src/device/models.py
Due: none

test commit
  .gitlab-ci.yml
Due: none

update CI
  .gitlab-ci.yml
Due: none

update pre-commit
  .pre-commit-config.yaml
Due: none

add contribution.md
  .gitlab-ci.yml
  CONTRIBUTING.md
  LICENSE
  README.md
  backend/README.md
  frontend/README.md
  public/README.md
Due: backend-testing

fix errors in descriptions
  CONTRIBUTING.md
  README.md
  backend/README.md
  backend/docs/index.md
  backend/docs/starting.md
Due: backend-testing, pages

refactoring Accounting app urls
  backend/docs/Accaunting/App.md
  backend/docs/Accaunting/REST_API/routers.md
Due: none

Refactor base urls
  backend/docs/Accaunting/App.md
  backend/docs/Backend/App.md
  backend/docs/Backend/urls.md
Due: none

refactoring Consumables app urls
  backend/docs/Accaunting/App.md
  backend/docs/Consumables/App.md
  backend/docs/Consumables/REST_API/routers.md
Due: none

Refactoring core urls
  backend/docs/Backend/App.md
  backend/docs/Core/App.md
Due: none

Refactoring Counterparty app urls
  backend/docs/Accaunting/App.md
  backend/docs/Consumables/App.md
  backend/docs/Counterparty/App.md
Due: none

add App, admin and url docs in Decomission app
  backend/docs/Decommission/App.md
  backend/src/decommission/admin.py
  backend/src/decommission/apps.py
Due: none

update dependencies
  backend/pyproject.toml
  backend/uv.lock
Due: backend-typnig, backend-linting, backend-testing

fix description in views
  backend/src/accounting/views.py
  backend/src/consumables/views.py
  backend/src/core/views.py
  backend/src/counterparty/views.py
  backend/uv.lock
Due: backend-testing

add decommission docs
  backend/docs/Decommission/Views/Decommission.md
  backend/docs/Decommission/Views/Disposal.md
  backend/docs/Decommission/decommission.md
  backend/docs/Decommission/models/decommission.md
  backend/docs/Decommission/models/disposal.md
  backend/docs/Decommission/resources.md
  backend/docs/Decommission/tasks.md
  backend/src/decommission/decom.py
  backend/src/decommission/models.py
  backend/src/decommission/resources.py
  backend/src/decommission/tasks.py
  backend/src/decommission/views.py
Due: none

add device docs
  backend/docs/Device/App.md
  backend/docs/Device/Models.md
  backend/docs/Device/REST_API/serializers.md
  backend/docs/Device/REST_API/views.md
  backend/docs/Device/Views/CRUD.md
  backend/docs/Device/Views/Export.md
  backend/docs/Device/Views/forms.md
  backend/docs/Device/forms.md
  backend/docs/Device/resources.md
  backend/src/consumables/views.py
  backend/src/decommission/admin.py
  backend/src/decommission/views.py
  backend/src/device/admin.py
  backend/src/device/apps.py
  backend/src/device/forms.py
  backend/src/device/models.py
  backend/src/device/resources.py
  backend/src/device/serializers.py
  backend/src/device/views.py
Due: none

update dependences
  backend/dockerfile
  backend/pyproject.toml
  backend/uv.lock
Due: backend-typnig, backend-linting, backend-testing

add employee app docs
  backend/docs/Employee/App.md
  backend/docs/Employee/REST_API/serializers.md
  backend/docs/Employee/REST_API/views.md
  backend/docs/Employee/Views/Departament.md
  backend/docs/Employee/Views/Employee.md
  backend/docs/Employee/Views/Post.md
  backend/docs/Employee/forms.md
  backend/docs/Employee/models.md
  backend/src/decommission/apps.py
  backend/src/employee/admin.py
  backend/src/employee/apps.py
  backend/src/employee/forms.py
  backend/src/employee/models.py
  backend/src/employee/views.py
Due: none

add signature app docs
  backend/docs/Signature/App.md
  backend/docs/Signature/REST_API/serializers.md
  backend/docs/Signature/REST_API/views.md
  backend/docs/Signature/forms.md
  backend/docs/Signature/models.md
  backend/docs/Signature/views.md
  backend/pyproject.toml
  backend/src/signature/admin.py
  backend/src/signature/apps.py
  backend/src/signature/forms.py
  backend/src/signature/models.py
  backend/src/signature/views.py
Due: backend-typnig, backend-linting, backend-testing

added docs for software app
  backend/docs/Sofware/App.md
  backend/docs/Sofware/REST_API/serializers.md
  backend/docs/Sofware/REST_API/views.md
  backend/docs/Sofware/Views/os.md
  backend/docs/Sofware/Views/sofware.md
  backend/docs/Sofware/forms.md
  backend/docs/Sofware/models.md
  backend/src/software/admin.py
  backend/src/software/apps.py
  backend/src/software/forms.py
  backend/src/software/models.py
  backend/src/software/views.py
Due: none

Added documentation for the Signature app
  backend/docs/Workplace/App.md
  backend/docs/Workplace/Models/Workplace.md
  backend/docs/Workplace/Models/room.md
  backend/docs/Workplace/REST_API/serializers.md
  backend/docs/Workplace/REST_API/views.md
  backend/docs/Workplace/Views/room.md
  backend/docs/Workplace/Views/workplace.md
  backend/docs/Workplace/forms.md
  backend/src/device/admin.py
  backend/src/workplace/admin.py
  backend/src/workplace/apps.py
  backend/src/workplace/forms.py
  backend/src/workplace/models.py
  backend/src/workplace/serializers.py
  backend/src/workplace/views.py
Due: none

fix typing error
  backend/src/workplace/views.py
Due: none

update docstring
  backend/pyproject.toml
  backend/uv.lock
Due: backend-typnig, backend-linting, backend-testing

added app description, admin urls to stockroom app documentation
  backend/docs/Stockroom/App.md
  backend/docs/Stockroom/REST_API/serializers.md
  backend/docs/Stockroom/REST_API/views.md
  backend/docs/Stockroom/Urls/Accessorie.md
  backend/docs/Stockroom/Urls/Consumables.md
  backend/docs/Stockroom/Urls/Device.md
  backend/docs/Stockroom/Views/Accessories.md
  backend/docs/Stockroom/Views/Consumables.md
  backend/docs/Stockroom/admin.md
  backend/docs/Stockroom/forms.md
  backend/docs/Stockroom/models/accessories.md
  backend/docs/Stockroom/models/consumables.md
  backend/docs/Stockroom/resources.md
  backend/src/stockroom/admin.py
  backend/src/stockroom/apps.py
  backend/uv.lock
Due: backend-testing

added app description context processor and forms to stockroom app documentation
  backend/docs/Stockroom/context.md
  backend/docs/Stockroom/forms.md
  backend/src/stockroom/context_processors.py
  backend/src/stockroom/forms.py
Due: none

added description resources to stockroom app documentation
  backend/docs/Stockroom/REST_API/serializers.md
  backend/docs/Stockroom/REST_API/views.md
  backend/docs/Stockroom/Views/Accessories.md
  backend/docs/Stockroom/Views/Consumables.md
  backend/docs/Stockroom/resources.md
  backend/src/stockroom/resources.py
Due: none

added models description to stockroom app documentation
  backend/docs/Stockroom/models/accessories.md
  backend/docs/Stockroom/models/consumables.md
  backend/docs/Stockroom/models/device.md
  backend/src/stockroom/models/accessories.py
  backend/src/stockroom/models/consumables.py
  backend/src/stockroom/models/devices.py
Due: none

formated ruff
  backend/src/stockroom/context_processors.py
  backend/src/stockroom/forms.py
  backend/src/stockroom/models/accessories.py
  backend/src/stockroom/models/consumables.py
  backend/src/stockroom/models/devices.py
  backend/src/stockroom/resources.py
Due: none

change types in consts
  backend/src/stockroom/forms.py
Due: none

added template tugs docs
  backend/docs/Stockroom/Templatetags/Accessories.md
  backend/docs/Stockroom/Templatetags/consumables.md
  backend/docs/Stockroom/Templatetags/devices.md
  backend/src/stockroom/models/devices.py
  backend/src/stockroom/templatetags/history_tags.py
  backend/uv.lock
Due: backend-testing

fix error. changed pdm to uv
  backend/entrypoint.sh
Due: backend-testing
