Repository NikolajMakarovskij/myStockroom: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-typing, backend-linting, backend-testing

.gitlab-ci.yml:

stages:
  - typing
  - linting
  - testing
  - pages

image: docker:24.0.5
services:
    - docker:24.0.5-dind

.standard-rules:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""

before_script:
  - apk add --no-cache docker-compose
  - docker version
  - docker-compose --version
  - docker-compose up -d

backend-typing:
  stage: typing
  rules:
    - if: $CI_COMMIT_MESSAGE
      changes:
        paths:
          - 'backend/src/**/*.{py}'
          - 'backend/pyproject.toml'
  script:
    - docker exec -t backend uv run mypy .

backend-linting:
  stage: linting
  rules:
    - if: $CI_COMMIT_MESSAGE
      changes:
        paths:
          - 'backend/src/**/*.{py}'
          - 'backend/pyproject.toml'
  needs: ["backend-typing"]
  script:
    - docker exec -t backend uv run ruff check .

backend-testing:
  stage: testing
  rules:
    - if: $CI_COMMIT_MESSAGE
      changes:
        paths:
          - 'backend/**/*.{py}'
          - 'docker-compose.yaml'
  needs: ["backend-linting"]
  script:
    - docker exec -t backend uv run pytest -n 4 --cov --junitxml=junit.xml
  coverage: '/TOTAL.*\s+(\d+%)$/'
  artifacts:
    when: always
    paths:
      - backend/src/junit.xml
    reports:
      junit:
        - backend/src/junit.xml

pages:
  stage: pages
  only:
    - master
  needs: ["backend-testing"]
  script:
    - docker exec -t backend bash -c 'cd /backend && uv run mkdocs build'
    - docker exec -t backend bash -c 'cd /backend && cp -a site/. /public'
  artifacts:
    paths:
      - public

added description
  backend/src/core/apps.py
Due: none

Removed outdated documentation
  backend/docs/API/Consumables/REST_API/Views/accessories.md
  backend/docs/API/Consumables/REST_API/Views/consumables.md
  backend/docs/API/Counterparty/REST_API/views.md
  backend/docs/API/Decommission/Views/Decommission.md
  backend/docs/API/Stockroom/REST_API/Viws/Consumables/consumables.md
  backend/docs/API/Stockroom/REST_API/Viws/Consumables/history.md
Due: none

added accounting docs
  backend/docs/API/Accaunting/App.md
  backend/docs/API/Accaunting/REST_API/serializers.md
  backend/docs/API/Accaunting/REST_API/views.md
  backend/docs/starting.md
  backend/src/accounting/admin.py
  backend/src/accounting/apps.py
  backend/src/accounting/models.py
  backend/src/accounting/serializers.py
  backend/src/accounting/views.py
  backend/src/stockroom/views/consumables.py
Due: none

added docs in employee app
  backend/docs/API/Employee/App.md
  backend/docs/API/Employee/serializers.md
  backend/docs/API/Employee/views.md
  backend/src/device/views.py
  backend/src/employee/admin.py
  backend/src/employee/apps.py
  backend/src/employee/models.py
  backend/src/employee/serializers.py
  backend/src/employee/views.py
Due: none

added docs in decommission app
  backend/docs/API/Decommission/App.md
  backend/docs/API/Decommission/serializers.md
  backend/src/decommission/admin.py
  backend/src/decommission/apps.py
  backend/src/decommission/decom.py
  backend/src/decommission/models.py
  backend/src/decommission/resources.py
  backend/src/decommission/serializers.py
  backend/src/decommission/tasks.py
  backend/src/decommission/views.py
Due: none

added counterparty docs
  backend/docs/API/Counterparty/App.md
  backend/docs/API/Counterparty/serializers.md
  backend/docs/API/Counterparty/views.md
  backend/src/counterparty/admin.py
  backend/src/counterparty/apps.py
  backend/src/counterparty/models.py
  backend/src/counterparty/serializers.py
  backend/src/counterparty/views.py
Due: none

update dependencies
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
Due: backend-typing, backend-linting

update settings
  angie/Dockerfile
  backend/requirements.txt
  backend/src/backend/settings/production.py
  docker-compose.yaml
  frontend/package.json
Due: backend-testing

Removed outdated documentation
  backend/docs/API/Consumables/REST_API/Views/accessories.md
  backend/docs/API/Consumables/REST_API/Views/consumables.md
  backend/docs/API/Consumables/REST_API/views.md
  backend/docs/API/Core/Tests.md
  backend/docs/API/Core/Utils.md
  backend/docs/API/Core/Views.md
  backend/docs/API/Counterparty/REST_API/serializers.md
  backend/docs/API/Counterparty/REST_API/views.md
  backend/docs/API/Decommission/Views/Decommission.md
  backend/docs/API/Decommission/Views/Disposal.md
  backend/docs/API/Signature/forms.md
  backend/docs/API/Signature/views.md
  backend/docs/API/Sofware/Views/os.md
  backend/docs/API/Sofware/Views/sofware.md
  backend/docs/API/Sofware/forms.md
  backend/docs/API/Stockroom/REST_API/Viws/Consumables/consumables.md
  backend/docs/API/Stockroom/REST_API/Viws/Consumables/history.md
  backend/docs/API/Stockroom/REST_API/Viws/Consumables/methods.md
  backend/docs/API/Stockroom/REST_API/Viws/consumables.md
  backend/docs/API/Stockroom/Templatetags/Accessories.md
  backend/docs/API/Stockroom/Templatetags/consumables.md
  backend/docs/API/Stockroom/Templatetags/devices.md
  backend/docs/API/Stockroom/Views/Accessories.md
  backend/docs/API/Stockroom/Views/Consumables.md
  backend/docs/API/Stockroom/Views/devices.md
  backend/docs/API/Stockroom/Views/index.md
  backend/docs/API/Stockroom/context.md
  backend/docs/API/Stockroom/forms.md
Due: none

fixed warnings in docs
  backend/src/core/views.py
Due: none

refactor accountiing docs
  backend/docs/API/Accaunting/serializers.md
  backend/docs/API/Accaunting/views.md
Due: none

added consumables docs
  backend/docs/API/Consumables/App.md
  backend/docs/API/Consumables/Views/accessories.md
  backend/docs/API/Consumables/Views/consumables.md
  backend/docs/API/Consumables/serializers.md
  backend/src/accounting/serializers.py
  backend/src/accounting/views.py
  backend/src/consumables/admin.py
  backend/src/consumables/apps.py
  backend/src/consumables/models.py
  backend/src/consumables/resources.py
  backend/src/consumables/serializers.py
  backend/src/consumables/views.py
Due: none

fix angie
  angie/Dockerfile
Due: none

added core and settings docs
  backend/docs/API/Backend/App.md
  backend/docs/API/Core/App.md
  backend/src/backend/celery.py
  backend/src/core/urls.py
  backend/src/core/utils.py
  backend/src/core/views.py
Due: none

added docs in device app
  backend/docs/API/Decommission/App.md
  backend/docs/API/Device/App.md
  backend/docs/API/Device/REST_API/views.md
  backend/docs/API/Device/serializers.md
  backend/docs/API/Device/views.md
  backend/src/device/admin.py
  backend/src/device/apps.py
  backend/src/device/models.py
  backend/src/device/resources.py
  backend/src/device/serializers.py
  backend/src/device/views.py
Due: none

updated docs in employee, software, signature apps
  backend/docs/API/Consumables/Views/accessories.md
  backend/docs/API/Consumables/Views/consumables.md
  backend/docs/API/Counterparty/views.md
  backend/docs/API/Employee/serializers.md
  backend/docs/API/Employee/views.md
  backend/docs/API/Signature/App.md
  backend/docs/API/Signature/serializers.md
  backend/docs/API/Signature/views.md
  backend/docs/API/Sofware/App.md
  backend/docs/API/Sofware/serializers.md
  backend/docs/API/Sofware/views.md
  backend/src/employee/views.py
  backend/src/signature/admin.py
  backend/src/signature/apps.py
  backend/src/signature/models.py
  backend/src/software/admin.py
  backend/src/software/apps.py
  backend/src/software/models.py
Due: none

added docs in stockroom app
  backend/docs/API/Stockroom/Urls/Accessorie.md
  backend/docs/API/Stockroom/Urls/Consumables.md
  backend/docs/API/Stockroom/Urls/Device.md
  backend/docs/API/Stockroom/Viws/Accessories/accessories.md
  backend/docs/API/Stockroom/Viws/Accessories/history.md
  backend/docs/API/Stockroom/Viws/Accessories/methods.md
  backend/docs/API/Stockroom/Viws/Consumables/consumables.md
  backend/docs/API/Stockroom/Viws/Consumables/history.md
  backend/docs/API/Stockroom/Viws/Consumables/methods.md
  backend/docs/API/Stockroom/Viws/Devices/device.md
  backend/docs/API/Stockroom/Viws/Devices/history.md
  backend/docs/API/Stockroom/Viws/Devices/methods.md
  backend/docs/API/Stockroom/resources.md
  backend/docs/API/Stockroom/serializers/accessories.md
  backend/docs/API/Stockroom/serializers/consumables.md
  backend/docs/API/Stockroom/serializers/device.md
  backend/docs/API/Stockroom/serializers/stock.md
  backend/src/consumables/serializers.py
  backend/src/stockroom/admin.py
  backend/src/stockroom/apps.py
  backend/src/stockroom/models/accessories.py
  backend/src/stockroom/models/consumables.py
  backend/src/stockroom/models/devices.py
  backend/src/stockroom/resources.py
  backend/src/stockroom/routers.py
  backend/src/stockroom/serializers/__init__.py
  backend/src/stockroom/serializers/accessories.py
  backend/src/stockroom/serializers/consumables.py
  backend/src/stockroom/serializers/devices.py
  backend/src/stockroom/serializers/stock.py
  backend/src/stockroom/stock/base_stock.py
  backend/src/stockroom/stock/stock.py
  backend/src/stockroom/views/accessories.py
  backend/src/stockroom/views/consumables.py
  backend/src/stockroom/views/devices.py
Due: none

updated angie dockerfile, updated docker compose production file, fixed docker compose develop file
  angie/Dockerfile
  docker-compose.prod.yaml
  docker-compose.yaml
Due: backend-testing

updated backend dockerfile, added production docker-compose file
  backend/dockerfile
  backend/pyproject.toml
  docker-compose.prod.yaml
Due: backend-typing, backend-linting

added docs in workplace app
  backend/docs/API/Workplace/App.md
  backend/docs/API/Workplace/REST_API/serializers.md
  backend/docs/API/Workplace/serializers.md
  backend/docs/API/Workplace/views.md
  backend/src/workplace/admin.py
  backend/src/workplace/apps.py
  backend/src/workplace/models.py
  backend/src/workplace/serializers.py
  backend/src/workplace/views.py
Due: none

update dependencies
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
Due: backend-typing, backend-linting

added react consts ro env
  .env
  docker-compose.yaml
  frontend/src/components/Axios.jsx
Due: backend-testing

TODO refactor pagination
  backend/src/backend/settings/production.py
Due: none

isort linting
  backend/src/accounting/tests/models_test.py
Due: none

fix errors
  frontend/public/warehouse.svg
Due: none

add pyproject and pre-commit
  backend/.pdm-python
  backend/pdm.lock
  backend/pyproject.toml
Due: backend-typing, backend-linting

update gitignore
  frontend/public/warehouse.svg
Due: none

add typing and django 5
  .github/workflows/backend_tests.yml
  backend/src/accounting/models.py
  backend/src/backend/settings/deploy.py
  backend/src/consumables/models.py
  backend/src/counterparty/models.py
  backend/src/decommission/models.py
  backend/src/device/models.py
  backend/src/employee/models.py
  backend/src/signature/models.py
  backend/src/software/models.py
  backend/src/stockroom/models/accessories.py
  backend/src/stockroom/models/consumables.py
  backend/src/stockroom/models/devices.py
  backend/src/workplace/models.py
Due: none

Refactor core docs
  backend/docs/Core/App.md
  backend/docs/Core/Tests.md
  backend/docs/Core/Utils.md
  backend/docs/Core/Views.md
Due: none

add pyproject
  backend/pdm.lock
  backend/pyproject.toml
  docker-compose.yaml
Due: backend-typing, backend-linting, backend-testing

fix linting
  backend/.pdm-python
Due: none

fix error
  backend/src/decommission/tasks.py
Due: none

add mkdocs. Init docs
  backend/.pdm-python
  backend/docs/celery.md
  backend/pdm.lock
Due: none

add manufacturer docs
  backend/docs/Counterparty/App.md
  backend/docs/Counterparty/Models.md
  backend/docs/Counterparty/Views.md
  backend/docs/Counterparty/serializers.md
  backend/src/counterparty/models.py
Due: none

fix errors in description
  backend/src/counterparty/models.py
Due: none

refactor backend docs
  backend/docs/Backend/App.md
  backend/docs/Backend/celery.md
Due: none

add accounting docs
  backend/docs/Accaunting/App.md
  backend/docs/Accaunting/Models.md
  backend/docs/Accaunting/serializers.md
  backend/docs/Accaunting/views.md
  backend/docs/Core/Tests.md
  backend/src/accounting/models.py
Due: none

add consumables docs
  backend/docs/Accaunting/App.md
  backend/docs/Accaunting/Models.md
  backend/docs/Accaunting/serializers.md
  backend/docs/Accaunting/views.md
  backend/docs/Backend/App.md
  backend/docs/Backend/celery.md
  backend/docs/Core/App.md
  backend/docs/Core/Tests.md
  backend/docs/Core/Utils.md
  backend/docs/Core/Views.md
  backend/docs/Counterparty/App.md
  backend/docs/Counterparty/Models.md
  backend/docs/Counterparty/Views.md
  backend/docs/Counterparty/serializers.md
  backend/docs/celery.md
Due: none

update dockerfile
  backend/public/README.md
Due: none
