Repository NikolajMakarovskij/myStockroom: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-typing, backend-linting, backend-testing

.gitlab-ci.yml:

stages:
  - typing
  - linting
  - testing
  - pages

image: docker:24.0.5
services:
    - docker:24.0.5-dind

.standard-rules:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""

before_script:
  - apk add --no-cache docker-compose
  - docker version
  - docker-compose --version
  - docker-compose up -d

backend-typing:
  stage: typing
  rules:
    - if: $CI_COMMIT_MESSAGE
      changes:
        paths:
          - 'backend/src/**/*.{py}'
          - 'backend/pyproject.toml'
  script:
    - docker exec -t backend uv run mypy .

backend-linting:
  stage: linting
  rules:
    - if: $CI_COMMIT_MESSAGE
      changes:
        paths:
          - 'backend/src/**/*.{py}'
          - 'backend/pyproject.toml'
  needs: ["backend-typing"]
  script:
    - docker exec -t backend uv run ruff check .

backend-testing:
  stage: testing
  rules:
    - if: $CI_COMMIT_MESSAGE
      changes:
        paths:
          - 'backend/**/*.{py}'
          - 'docker-compose.yaml'
  needs: ["backend-linting"]
  script:
    - docker exec -t backend uv run pytest -n 4 --cov --junitxml=junit.xml
  coverage: '/TOTAL.*\s+(\d+%)$/'
  artifacts:
    when: always
    paths:
      - backend/src/junit.xml
    reports:
      junit:
        - backend/src/junit.xml

pages:
  stage: pages
  only:
    - master
  needs: ["backend-testing"]
  script:
    - docker exec -t backend bash -c 'cd /backend && uv run mkdocs build'
    - docker exec -t backend bash -c 'cd /backend && cp -a site/. /public'
  artifacts:
    paths:
      - public

add eslint
  .pre-commit-config.yaml
Due: none

fix isort
  .pre-commit-config.yaml
  backend/pyproject.toml
Due: backend-typing, backend-linting

add migrations to git ignore
  .gitignore
Due: none

fix nginx and db
  backend/nginx/Dockerfile
  backend/nginx/nginx.conf
  database/Init_db/init.sql
Due: none

fix git ignore
  .gitignore
Due: none

update README
  docker-compose.yaml
Due: backend-testing

fix error
  .github/workflows/backend_tests.yml
Due: none

update github actions
  .github/workflows/backend_tests.yml
Due: none

add frontend linting
  .github/workflows/backend_tests.yml
  frontend/src/components/Forms/AutocompleteMultipleField.jsx
Due: none

add pdm in project
  .github/workflows/backend_tests.yml
  .gitignore
  backend/.dockerignore
  backend/.gitignore
  backend/.pdm-python
  backend/dockerfile
  backend/entrypoint.sh
  backend/pdm.lock
  backend/pyproject.toml
  docker-compose.yaml
Due: backend-typing, backend-linting, backend-testing

add entrypoint.
  backend/dockerfile
  backend/pyproject.toml
Due: backend-typing, backend-linting

fix error. Update version to 0.8.0
  backend/dockerfile
  frontend/package.json
Due: none

fix error in github actions
  .github/workflows/backend_tests.yml
Due: none

add drf typing
  backend/pyproject.toml
Due: backend-typing, backend-linting

test
  .gitignore
Due: none

update dependencies
  backend/.pdm-python
  backend/pdm.lock
  backend/pyproject.toml
  backend/src/accounting/routers.py
  backend/src/backend/urls.py
  backend/src/consumables/routers.py
  backend/src/device/routers.py
  backend/src/device/views.py
  backend/src/employee/routers.py
  backend/src/workplace/routers.py
  frontend/package-lock.json
Due: backend-typing, backend-linting

upgrade to python version 3.13
  .gitignore
  backend/dockerfile
  backend/pyproject.toml
Due: backend-typing, backend-linting

fix accounting tests
  backend/src/accounting/models.py
  backend/src/accounting/tests/test_models.py
  backend/src/accounting/urls.py
Due: none

fix consumables tests
  backend/src/consumables/models.py
  backend/src/consumables/tests/test_models.py
Due: none

update django
  backend/pdm.lock
  backend/pyproject.toml
Due: backend-typing, backend-linting

fix device tests
  backend/src/celerybeat-schedule
  backend/src/workplace/models.py
  backend/src/workplace/tests/test_models.py
Due: none

fix device tests
  backend/src/device/models.py
  backend/src/device/tests/test_models.py
  backend/src/device/tests/test_urls.py
  backend/src/device/tests/test_views.py
Due: none

fix employee tests
  backend/src/employee/models.py
  backend/src/employee/tests/test_models.py
Due: none

fix linting errors
  backend/src/employee/tests/test_models.py
Due: none

fix stockroom tests
  backend/src/stockroom/templates/stock/history_acc_list.html
  backend/src/stockroom/templates/stock/history_acc_short_list.html
  backend/src/stockroom/templates/stock/history_consumption_acc_list.html
  backend/src/stockroom/templates/stock/history_consumption_list.html
  backend/src/stockroom/templates/stock/history_dev_list.html
  backend/src/stockroom/templates/stock/history_dev_short_list.html
  backend/src/stockroom/templates/stock/history_list.html
  backend/src/stockroom/templates/stock/history_short_list.html
  backend/src/stockroom/templates/stock/stock_list.html
Due: none

fix api links in device frontend app
  frontend/src/components/appDevice/Device/CreateDevice.jsx
  frontend/src/components/appDevice/Device/ListDevice.jsx
  frontend/src/components/appDevice/Device/RemoveDevice.jsx
  frontend/src/components/appDevice/Device/UpdateDevice.jsx
Due: none

update django, delete psycopg2
  backend/pdm.lock
  backend/pyproject.toml
Due: backend-typing, backend-linting

add typing in github CI
  .github/workflows/backend_tests.yml
Due: none

update dependencies
  backend/pdm.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Forms/TextField.jsx
Due: none

migrate backend to uv
  .pre-commit-config.yaml
  backend/.gitignore
  backend/.pdm-python
  backend/docker-compose.yaml
  backend/dockerfile
  backend/entrypoint.sh
  backend/pdm.lock
  backend/pyproject.toml
  backend/uv.lock
  docker-compose.yaml
  nginx/nginx.conf
Due: backend-typing, backend-linting, backend-testing

formated files
  backend/src/backend/__init__.py
  backend/src/core/tests/test_login.py
  backend/src/core/urls.py
  backend/src/counterparty/routers.py
  backend/src/counterparty/serializers.py
  backend/src/decommission/tests/test_tasks.py
  backend/src/decommission/tests/test_views.py
  backend/src/device/serializers.py
  backend/src/employee/serializers.py
  backend/src/signature/tests/test_views.py
  backend/src/software/tests/test_views.py
  backend/src/stockroom/routers.py
  backend/src/stockroom/tests/test_stock/test_accessories.py
  backend/src/stockroom/tests/test_stock/test_consumables.py
  backend/src/stockroom/tests/test_stock/test_devices.py
  backend/src/stockroom/tests/tests_views/test_accessories.py
  backend/src/stockroom/tests/tests_views/test_consumables.py
  backend/src/stockroom/tests/tests_views/test_devices.py
Due: none

added docs
  backend/docs/API/Core/Tests.md
  backend/docs/API/Device/REST_API/serializers.md
  backend/docs/API/Device/REST_API/views.md
  backend/docs/API/Workplace/REST_API/serializers.md
Due: none

added CI
  .gitlab-ci.yml
  .pre-commit-config.yaml
  backend/.pre-commit-config.yaml
  frontend/.gitignore
  frontend/.pre-commit-config.yaml
  frontend/.prettierrc
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/test.ts
  frontend/vite.config.js
Due: none

fix error
  .gitlab-ci.yml
Due: none

fix pages stage
  .gitlab-ci.yml
Due: none

fix error in github CI
  .github/workflows/backend_tests.yml
Due: none
