Repository NikolajMakarovskij/myStockroom: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-typnig, backend-linting, backend-testing, pages

backend-typnig:
  stage: typing
  script:
  - docker exec -t backend pdm run mypy .

backend-linting:
  stage: linting
  script:
  - docker exec -t backend pdm run ruff check .

backend-testing:
  stage: testing
  script:
  - docker exec -t backend pdm run pytest --cov --junitxml=junit.xml
  coverage: /TOTAL.*\s+(\d+%)$/
  artifacts:
    when: always
    paths:
    - backend/src/junit.xml
    reports:
      junit:
      - backend/src/junit.xml

pages:
  stage: pages
  script:
  - docker exec -t backend bash -c 'cd /backend && pdm run mkdocs build'
  - docker exec -t backend bash -c 'cd /backend && cp -a site/. /public'
  artifacts:
    paths:
    - public

added serializers docs
  backend/docs/Stockroom/REST_API/Serializers/consumables.md
  backend/docs/Stockroom/REST_API/serializers.md
  backend/docs/Stockroom/REST_API/views.md
  backend/src/stockroom/forms.py
  backend/src/stockroom/serializers.py
  backend/src/stockroom/serializers/consumables.py
  backend/src/stockroom/views/consumables.py
Due: none

add API view docs
  backend/docs/Stockroom/REST_API/Viws/consumables.md
  backend/src/stockroom/views/consumables.py
Due: none

added stock docs
  backend/docs/Stockroom/Stock/accessories.md
  backend/docs/Stockroom/Stock/base.md
  backend/docs/Stockroom/Stock/consumables.md
  backend/docs/Stockroom/Stock/devices.md
  backend/src/stockroom/stock/base_stock.py
  backend/src/stockroom/stock/stock.py
  backend/src/stockroom/tests/test_stock/test_devices.py
Due: none

added docs for the stockroom view of the accessories
  backend/docs/API/Stockroom/Views/Accessories.md
  backend/src/stockroom/views/accessories.py
  backend/src/stockroom/views/index.py
Due: none

added docs for the stockroom consumables views
  backend/docs/API/Stockroom/Views/Accessories.md
  backend/docs/API/Stockroom/Views/devices.md
  backend/src/stockroom/views/accessories.py
  backend/src/stockroom/views/consumables.py
Due: none

added docs to stockroom devices views
  backend/docs/API/Stockroom/Views/devices.md
  backend/src/stockroom/views/consumables.py
  backend/src/stockroom/views/devices.py
Due: none

update dependencies
  backend/docker-compose.yaml
  backend/pyproject.toml
  backend/uv.lock
Due: backend-typnig, backend-linting, backend-testing

update python version, delete debug toolbar, fix errors
  backend/docker-compose.yaml
  backend/docs/index.md
  backend/entrypoint.sh
  backend/pyproject.toml
  backend/src/backend/settings/production.py
  backend/uv.lock
Due: backend-typnig, backend-linting, backend-testing, pages

update container
  backend/dockerfile
Due: backend-testing

update CI
  .gitlab-ci.yml
Due: none

fix order, add restart flower container
  backend/docker-compose.yaml
Due: backend-testing

formated files
  backend/src/stockroom/stock/base_stock.py
  backend/src/stockroom/stock/stock.py
Due: none

migrate backend to uv
  .pre-commit-config.yaml
  backend/.gitignore
  backend/.pdm-python
  backend/docker-compose.yaml
  backend/dockerfile
  backend/entrypoint.sh
  backend/mkdocs.yml
  backend/pdm.lock
  backend/pyproject.toml
  backend/uv.lock
  docker-compose.yaml
  nginx/nginx.conf
Due: backend-typnig, backend-linting, backend-testing

added CI
  .gitlab-ci.yml
  .pre-commit-config.yaml
  backend/.pre-commit-config.yaml
  frontend/.gitignore
  frontend/.pre-commit-config.yaml
  frontend/.prettierrc
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/test.ts
  frontend/vite.config.js
Due: backend-testing

fix error
  .gitlab-ci.yml
Due: none

update CI rules
  .gitlab-ci.yml
Due: none

update github CI
  .github/workflows/backend_tests.yml
Due: none

fix error in github CI
  .github/workflows/backend_tests.yml
Due: none

test github CI
  .github/workflows/backend_tests.yml
Due: none

fix pages stage
  .gitlab-ci.yml
Due: none

update pre-commit coniguration
  .gitlab-ci.yml
  .pre-commit-config.yaml
  backend/.pre-commit-config.yaml
  backend/src/core/utils.py
  frontend/.pre-commit-config.yaml
  frontend/tests/test.ts
Due: backend-testing

delete import
  .pre-commit-config.yaml
  frontend/tests/test.ts
Due: none

fix error
  backend/src/core/utils.py
Due: none

update dependecies
  backend/pyproject.toml
  backend/uv.lock
Due: backend-typnig, backend-linting, backend-testing

update backend dependencies
  backend/pyproject.toml
  backend/uv.lock
Due: backend-typnig, backend-linting, backend-testing

update frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

update dependencies
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
Due: backend-typnig, backend-linting, backend-testing

fixed onChange and value in multiple autocomplete
  frontend/src/components/Forms/AutocompleteMultipleField.jsx
Due: none

fix error
  frontend/src/components/Forms/AutocompleteField.jsx
Due: none

fix errors in default values
  frontend/src/components/Forms/AutocompleteMultipleField.jsx
  frontend/src/components/appDevice/Device/CreateDevice.jsx
  frontend/src/components/appDevice/Device/UpdateDevice.jsx
Due: none

update dependencies
  docker-compose.yaml
  frontend/dockerfile
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Due: backend-testing

fix changes in MUI X tree
  frontend/src/components/appConsumables/Accessories/ListAccessories.jsx
  frontend/src/components/appConsumables/Consumables/ListConsumables.jsx
  frontend/src/components/appDevice/Device/ListDevice.jsx
Due: none

Path conditions:
  backend-typnig: any of: backend/src/*.{py}, backend/pyproject.toml
  backend-linting: any of: backend/src/*.{py}, backend/pyproject.toml
  backend-testing: any of: backend/*, docker-compose.yaml
  pages: any of: backend/docs/*, docs/*, mkdocs.yml
